@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Rubik+Dirt&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.heading {
  font-size: 50px;
  font-family: DynaPuff, "Ubuntu";
  color: rgba(247, 192, 10, 0.911);
}

.textLink {
  width: 300px;
  height: 45px;
  border: 3px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 30px;
}

.submit {
  height: 45px;
  border: 3px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px;
  text-align: center;
  background-color: rgba(247, 192, 10, 0.911);
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  .heading {
    font-size: 42px;
    font-family: DynaPuff, "Ubuntu";
    color: rgba(247, 192, 10, 0.911);
  }
  .textLink {
    width: 250px;
    height: 45px;
    border: 3px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 30px;
  }
}
/* Result Styling */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result p {
  border: 3px solid rgba(247, 192, 10, 0.911);
  color: aliceblue;
  border-radius: 20px;
  padding: 7px;
  margin: 0px;
}
.result button {
  border: 3px solid;
  border-radius: 20px;
  padding: 7px;
  margin-left: 3px;
  text-align: center;
  background-color: rgba(247, 192, 10, 0.911);
  cursor: pointer;
  font-weight: bold;
}

.result button.copied {
  background: white;
  color: rgba(247, 192, 10, 0.911);
}

.noData {
  color: white;
  font-size: 1rem;
}

/* Footer */
.footer {
  color: white;
  margin-top: 40vh;
  position: static;
}

/* Background Animation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #2e34a3;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}
.background li:nth-child(0) {
  left: 15%;
  width: 184px;
  height: 184px;
  bottom: -184px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 73%;
  width: 143px;
  height: 143px;
  bottom: -143px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 29%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 10s;
}
.background li:nth-child(3) {
  left: 37%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 5s;
}
.background li:nth-child(4) {
  left: 23%;
  width: 113px;
  height: 113px;
  bottom: -113px;
  animation-delay: 13s;
}
.background li:nth-child(5) {
  left: 15%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 8s;
}
.background li:nth-child(6) {
  left: 16%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 28s;
}
.background li:nth-child(7) {
  left: 46%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 17s;
}
.background li:nth-child(8) {
  left: 69%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 20s;
}
.background li:nth-child(9) {
  left: 14%;
  width: 106px;
  height: 106px;
  bottom: -106px;
  animation-delay: 18s;
}
